* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #F5F5F5;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    background-color: white;
}