* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    background-color: white;
}

@media (max-width: 550px) {
    #root {
      width: 100vw;
    }
  }